- if @key_info[:valid]
  = field_with_value 'Valid', @key_info[:valid]
  = field_with_value 'Bits', @key_info[:bits]
  = field_with_value 'Valid', @key_info[:fingerprint]
- else
  .text-warning Could not determine key type/invalid key
